<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.<MY_DOMAIN>.cloudflared</string>

  <key>ProgramArguments</key>
  <array>
    <string><ABSOLUTE_PATH_TO_CLOUDFLARED></string>
    <string>tunnel</string>
    <string>run</string>
    <string>ollama-prod</string>
  </array>

  <key>WorkingDirectory</key>
  <string>/Users/<MY_USERNAME></string>

  <key>RunAtLoad</key>
  <true/>

  <key>KeepAlive</key>
  <true/>

  <key>StandardOutPath</key>
  <string>/Users/<MY_USERNAME>/Library/Logs/cloudflared.log</string>

  <key>StandardErrorPath</key>
  <string>/Users/<MY_USERNAME>/Library/Logs/cloudflared.error.log</string>
</dict>
</plist>
